@import '../../../../styles/colors';

.wrapper {
  display: flex;
  min-height: 88vh;
}

h1 {
  font-family: Roboto-Regular, sans-serif;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title span {
  display: block;
}

.profession {
  font-family: Roboto-Bold, sans-serif;
}

.organization {
  font-family: Roboto-Light, sans-serif;
}

.card-text {
  font-family: Roboto-Regular, sans-serif;
}

small {
  font-family: Roboto-Light, sans-serif;
}

.income-per-month, label {
  font-family: Roboto-Light, sans-serif;
}

.edit-vacancy-link {
  font-family: Roboto-Light, sans-serif;
  text-decoration: none;
  color: $green-color;

  &:hover {
    color: darken($green-color, 5px);
    text-decoration: underline;
  }
}

input[type="checkbox"] {
  appearance: none;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0;
}

input[type="checkbox"]:focus {
  box-shadow: none;
}

input[type="checkbox"]:checked {
  background-color: $green-color;
}

