<div class="wrapper">
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-6">
        <div class="main-title mt-1">
          <h2>Найдите человека c подходящими навыками, опытом и квалификацией на платформе поиска и найма.</h2>
          <h2>Разместите вакансию на sol-job.ru</h2>
        </div>
        <div class="mt-5">
          <app-custom-button
            backgroundColor="#cccccc"
            textColor="black"
            borderWidth="1px"
            borderColor="#cccccc"
            routerLink="login"
          >
            Войти
          </app-custom-button>
          <app-custom-button class="mx-3" routerLink="login">Разместить вакансию</app-custom-button>
        </div>
      </div>
    </div>
  </div>
</div>
