<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="my-3 text-center steps">
          Шаг {{ stepIndex$ | async }} / 8
        </div>
        <form [formGroup]="vacancyForm" ngxsForm="vacancyForm" class="form my-1">
          <div class="card">
            @if ((stepIndex$ | async) === 1) {
              <div class="card-header text-center">Название организации</div>
              <div class="card-body">
                <div class="form-group mb-1">
                  <div class="col-12">
                    <label for="defaultProfession" class="my-1">Название организации<span
                      style="color: red;">*</span></label>
                    <input type="text"
                           id="defaultProfession"
                           class="form-control shadow-sm"
                           formControlName="organizationName"
                           maxlength="100"
                           (input)="resetValidationErrorMessage()"
                    >
                  </div>
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="mt-3">
                  <app-custom-button (click)="goToNextStep(1)">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 2) {
              <div class="card-header text-center">Название вакансии и специализация</div>
              <div class="card-body">
                <div class="form-group mb-3">
                  <div class="col-md-6 col-12">
                    <label for="professionName">Название вакансии<span style="color: red;">*</span></label>
                    <div class="input-group">
                      <input type="text"
                             id="professionName"
                             class="form-control shadow-sm"
                             formControlName="professionName"
                             maxlength="100"
                             aria-label="Укажите название вакансии"
                             [matAutocomplete]="auto"
                             (input)="resetValidationErrorMessage()"
                      >
                      <mat-autocomplete #auto="matAutocomplete">
                        @for (profession of professions$ | async | professionFilter: professionNameControl.value; track profession.professionName) {
                          <mat-option [value]="profession.professionName">{{ profession.professionName }}</mat-option>
                        }
                      </mat-autocomplete>

                    </div>
                  </div>
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="form-group mb-1">
                  <div class="col-md-6 col-12">
                    <label for="professionSpecialization">Специализация</label>
                    <div class="input-group">
                      <input formControlName="professionSpecialization"
                             type="text"
                             class="form-control shadow-sm"
                             id="professionSpecialization"
                             maxlength="100"
                             aria-label="Укажите специализацию"
                      >
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="goToNextStep(2)" class="mx-3">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 3) {
              <div class="card-header text-center">Уровень дохода в месяц или за объем работ<span
                style="color: red;">*</span></div>
              <div class="card-body">
                <div class="form-group mb-1">
                  <div class="col-md-10 col-12">
                    <div class="input-group">
                      <div class="col-5">
                        <input formControlName="expectedIncomePerMonthFrom"
                               type="text"
                               class="form-control flex-grow-1 text-center rounded-right-0 shadow-sm"
                               maxlength="10"
                               placeholder="От"
                               aria-label="Уровень дохода от"
                        >
                      </div>
                      <div class="col-5">
                        <input formControlName="expectedIncomePerMonthTo"
                               type="text"
                               class="form-control flex-grow-1 text-center rounded-left-0 shadow-sm"
                               maxlength="10"
                               placeholder="До"
                               aria-label="Уровень дохода до"
                        >
                      </div>
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <label class="text-muted fs-3">₽</label>
                      </div>
                    </div>
                  </div>
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="goToNextStep(3)" class="mx-3">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 4) {
              <div class="card-header text-center">Опыт работы<span style="color: red;">*</span></div>
              <div class="card-body">
                <div class="form-group mb-1">
                  @for (level of experienceLevels; track level.id) {
                    <div class="d-flex align-items-center mb-3">
                      <input
                        type="radio"
                        formControlName="workExperienceId"
                        id="workExperience{{ level.id }}"
                        name="workExperienceId"
                        [value]="level.id"
                      />
                      <label class="mx-3 checkbox-label" for="workExperience{{ level.id }}">{{ level.name }}</label>
                    </div>
                  }
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="goToNextStep(4)" class="mx-3">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 5) {
              <div class="card-header text-center">Тип занятости<span style="color: red;">*</span></div>
              <div class="card-body">
                <div class="form-group mb-1">
                  @for (employmentType of employmentTypes; track employmentType.id) {
                    <div class="d-flex align-items-center mb-3">
                      <input
                        type="radio"
                        formControlName="employmentTypeId"
                        id="employmentType{{ employmentType.id }}"
                        name="employmentTypeId"
                        [value]="employmentType.id"
                      />
                      <label class="mx-3 checkbox-label" for="employmentType{{ employmentType.id }}">
                        {{ employmentType.name }}
                      </label>
                    </div>
                  }
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="goToNextStep(5)" class="mx-3">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 6) {
              <div class="card-header text-center">График работы<span style="color: red;">*</span></div>
              <div class="card-body">
                <div class="form-group mb-1">
                  @for (workSchedule of workSchedules; track workSchedule.id) {
                    <div class="d-flex align-items-center mb-3">
                      <input
                        type="radio"
                        formControlName="workScheduleId"
                        id="workSchedule{{ workSchedule.id }}"
                        name="workScheduleId"
                        [value]="workSchedule.id"
                      />
                      <label class="mx-3 checkbox-label" for="workSchedule{{ workSchedule.id }}">
                        {{ workSchedule.name }}
                      </label>
                    </div>
                  }
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="goToNextStep(6)" class="mx-3">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 7) {
              <div class="card-header text-center">Уровень образования</div>
              <div class="card-body">
                <div class="form-group mb-1">
                  @for (educationType of educationTypes; track educationType.id) {
                    <div class="d-flex align-items-center mb-3">
                      <input
                        type="radio"
                        formControlName="educationTypeId"
                        id="educationType{{ educationType.id }}"
                        name="educationTypeId"
                        [value]="educationType.id"
                      />
                      <label class="mx-3 checkbox-label" for="educationType{{ educationType.id }}">
                        {{ educationType.name }}
                      </label>
                    </div>
                  }
                </div>
                @if (validationErrorMessage) {
                  <div class="mb-3">
                    <small class="error-message text-danger small-text">{{ validationErrorMessage }}</small>
                  </div>
                }
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="goToNextStep(6)" class="mx-3">Далее</app-custom-button>
                </div>
              </div>
            } @else if ((stepIndex$ | async) === 8) {
              <div class="card-header text-center">О вакансии</div>
              <div class="card-body">
                <div class="form-group mb-1">
                  <div class="col-md-10 col-12">
                    <div class="input-group">
                    <textarea formControlName="aboutVacancy"
                              rows="6"
                              class="form-control shadow-sm"
                              placeholder="Расскажите про вакансию"
                              maxlength="1000"
                              aria-label="Расскажите про вакансию"
                    >
                    </textarea>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <app-custom-button
                    (click)="goToPreviousStep()"
                    backgroundColor="#ffffff"
                    textColor="black"
                    borderWidth="1px"
                    borderColor="#cccccc"
                  >
                    Назад
                  </app-custom-button>
                  <app-custom-button (click)="createVacancy()" class="mx-3">
                    @if (isLoading$ | async) {
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    Создать вакансию
                  </app-custom-button>
                </div>
              </div>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
